aiohttp==3.8.3
aiokafka==0.7.2
kafka-python==2.0.2
fastapi==0.85.0
uvicorn==0.18.3
requests==2.22.0
argparse==1.4.0
dependency-injector==4.39.1
asyncpg==0.26.0
asynctest==0.13.0
psycopg2
pyyaml==6.0
pytest-asyncio==0.20.2
pyrekordbox==0.0.5
#toredocore==1.0.0

